@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
  }

  .text-glow {
    text-shadow:
        0 0 1px currentColor,
        0 0 20px currentColor,
        0 0 20px currentColor;
}

body {
    overflow: auto;
}

* {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    overflow: auto;
}

#renderer {
  color: inherit;
}
